<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="your.project.demo.dao.EditorDao">

    <!-- ============================= INSERT ============================= -->
    <insert id="save" useGeneratedKeys="true" keyProperty="editorId" >
        INSERT INTO editor( editor_id,name,sex )
        VALUES ( #{editorId},#{name},#{sex})
    </insert>


    <!-- batch insert for mysql -->
    <insert id="saveBatch">
        INSERT INTO editor( editor_id,name,sex )
        VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.editorId},#{item.name},#{item.sex} )
        </foreach>
    </insert>


    <!-- batch insert for oracle -->
    <!--
    <insert id="saveBatch">
        INSERT INTO editor( editor_id,name,sex )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.editorId},#{item.name},#{item.sex} 
              FROM DUAL 
        </foreach>
    </insert>

    -->

    <!-- ============================= UPDATE ============================= -->
    <update id="update">
        UPDATE editor
        <set>
            name=#{name},
            sex=#{sex},
        </set>
        WHERE editor_id=#{editorId} 
    </update>

    <update id="updateIgnoreNull">
        UPDATE editor
        <set>
            <if test="name!= null">name=#{name},</if>
            <if test="sex!= null">sex=#{sex},</if>
        </set>
        WHERE editor_id=#{editorId} 
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        UPDATE editor
        <set>
            <foreach collection="list" item="item" index="index" open="name= CASE editor_id" close="END" separator=" " >
                WHEN #{item.editorId} THEN #{item.name}
            </foreach>,
            <foreach collection="list" item="item" index="index" open="sex= CASE editor_id" close="END" separator=" " >
                WHEN #{item.editorId} THEN #{item.sex}
            </foreach>,
        </set>
        WHERE 
            <foreach collection="list" separator="or" item="item" index="index">
                editor_id=#{item.editorId}
            </foreach>
    </update>


    <!-- ============================= DELETE ============================= -->
    <delete id="delete">
        DELETE FROM editor
        WHERE editor_id=#{editorId} 
    </delete>

    <delete id="deleteBatch">
        DELETE FROM editor
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            editor_id=#{item.editorId} 
        </foreach>
    </delete>

    <delete id="deleteByPK">
        DELETE FROM editor
        WHERE editor_id=#{editorId} 
    </delete>

    <delete id="deleteAll">
        DELETE FROM editor
    </delete>


    <!-- ============================= SELECT ============================= -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM editor
    </select>

    <select id="findByPK" resultType="your.project.demo.vo.Editor">
        SELECT * FROM editor
        WHERE editor_id=#{editorId} 
    </select>

    <select id="find" resultType="your.project.demo.vo.Editor">
        SELECT editor_id,name,sex
         FROM editor
        <where>
            <if test="editorId!= null">
               AND editor_id = #{editorId}
            </if>
            <if test="name!= null">
               AND name = #{name}
            </if>
            <if test="sex!= null">
               AND sex = #{sex}
            </if>
        </where>
    </select>

</mapper>
